.menu-hamburger__submenu {
  display: none;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 85vh;
  background-color: #fff;
  /* Este padding left evita com que o conteúdo seja empurrado, quando houver um scrollbar. */
  padding-left: calc(100vw - 100%);
  padding-bottom: 2rem;
  z-index: -1;
  box-shadow: 0px .1rem 1.5rem .5rem #777;
  overflow: auto;
}

  .submenu__link,
  .submenu__link--visual {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    color: var(--cor__verde-padrao);
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1rem;
    text-transform: uppercase;
  }

    .link__texto {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 50px;
      width: 70%;
      min-height: 50px;
      height: 5rem;
      color: inherit;
      border-bottom: .1rem solid var(--cor__verde-profundo);
      box-sizing: border-box;
    }

    .submenu__link:hover,
    .submenu__link:focus-within,
    .submenu__categoria-produtos:hover>.submenu__link--visual,
    .submenu__categoria-produtos:focus-within>.submenu__link--visual,
    .categoria-produtos__lista--pao-de-queijo:hover>.submenu__link--visual,
    .categoria-produtos__lista--pao-de-queijo:focus-within>.submenu__link--visual,
    .categoria-produtos__lista--salgados:hover>.submenu__link--visual,
    .categoria-produtos__lista--salgados:focus-within>.submenu__link--visual,
    .categoria-produtos__lista--doces:hover>.submenu__link--visual,
    .categoria-produtos__lista--doces:focus-within>.submenu__link--visual {
      color: #fff;
      background: var(--cor__amarelo-escuro);
      transition: var(--transition__padrao);
    }

      .submenu__link:hover>.link__texto,
      .submenu__link:focus-within>.link__texto,
      .submenu__categoria-produtos:hover>.submenu__link--visual>.link__texto,
      .submenu__categoria-produtos:focus-within>.submenu__link--visual>.link__texto,
      .categoria-produtos__lista--pao-de-queijo:hover>.submenu__link--visual>.link__texto,
      .categoria-produtos__lista--pao-de-queijo:focus-within>.submenu__link--visual>.link__texto,
      .categoria-produtos__lista--salgados:hover>.submenu__link--visual>.link__texto,
      .categoria-produtos__lista--salgados:focus-within>.submenu__link--visual>.link__texto,
      .categoria-produtos__lista--doces:hover>.submenu__link--visual>.link__texto,
      .categoria-produtos__lista--doces:focus-within>.submenu__link--visual>.link__texto {
        border-color: #fff;
      }

    .submenu__link--visual {
      min-width: 50px;
      min-height: 50px;
    }

    .submenu__categoria-produtos:focus-within>.categoria-produtos__lista--pao-de-queijo,
    .submenu__categoria-produtos:focus-within>.categoria-produtos__lista--salgados,
    .submenu__categoria-produtos:focus-within>.categoria-produtos__lista--doces {
      display: block;
    }

      .categoria-produtos__lista--pao-de-queijo:focus-within>.lista__pao-de-queijo--nav,
      .categoria-produtos__lista--salgados:focus-within>.lista__salgados--nav,
      .categoria-produtos__lista--doces:focus-within>.lista__doces--nav {
        display: block;
      }

    .categoria-produtos__lista--pao-de-queijo,
    .categoria-produtos__lista--salgados,
    .categoria-produtos__lista--doces {
      display: none;
    }

      .lista__pao-de-queijo--nav,
      .lista__salgados--nav,
      .lista__doces--nav {
        display: none;
      }
      
@media screen and (min-width: 428px) {
  .menu-hamburger__submenu {
    top: 5.5rem;
    max-height: 80vh;
  }

  .submenu__link,
  .submenu__link--visual {
    font-size: 2.1rem;
  }

    .link__texto {
      height: 7rem;
    }
}

@media screen and (min-width: 768px) {
  .menu-hamburger__submenu {
    top: 6rem;
    max-height: 80vh;
  }

  .submenu__link,
  .submenu__link--visual {
    font-size: 2.4rem;
  }

    .link__texto {
      height: 8rem;
    }
}

@media screen and (min-width: 1024px) {
  .menu-hamburger__submenu {
    top: 6.5rem;
    max-height: 80vh;
  }

  .submenu__link,
  .submenu__link--visual {
    font-size: 2.4rem;
  }

    .link__texto {
      height: 8rem;
    }
}

@media screen and (min-width: 1280px) {
  .menu-hamburger__submenu {
    top: 7rem;
    max-height: 80vh;
  }

  .submenu__link,
  .submenu__link--visual {
    font-size: 2.4rem;
  }

    .link__texto {
      height: 8rem;
    }
}

@media screen and (min-width: 1920px) {
  .menu-hamburger__submenu {
    top: 7.5rem;
    max-height: 80vh;
  }

  .submenu__link,
  .submenu__link--visual {
    font-size: 2.4rem;
  }

    .link__texto {
      height: 8rem;
    }
}