.cabecalho {
  position: fixed;
  background-color: #fff;
  width: 100%;




  
  /* Deletar depois */
  max-width: 280px;
  /* END */
}
  
  .cabecalho__menu-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: var(--box-shadow__vertical-baixo);
  }

    .menu-principal__menu-hamburger {
      width: 5rem;
      height: 5rem;
      cursor: pointer;
      border: none;
      background: transparent url(../img/simbolos__menu-hamburger-off.svg) no-repeat center / cover;
      background-size: 80%;
      transition: all, 500ms;
    }

      .menu-principal__menu-hamburger:focus-within {
        background: var(--cor__amarelo-escuro) url(../img/simbolos__menu-hamburger-on.svg) no-repeat center / cover;
        background-size: 80%;
      }

      .menu-principal__menu-hamburger:focus-within>.menu-hamburger__submenu {
        display: initial;
      }
    
    .menu-principal__link-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }

      .link-logo__imagem {
        display: block;
        width: 45px;
        height: 30px;
      }
      
    .menu-principal__navegacao {
      width: 5rem;
      height: 5rem;
    }

  