.cabecalho {
  position: fixed;
  background-color: #fff;
  width: 100%;
}
  
  .cabecalho__menu-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: var(--box-shadow__vertical-baixo);
  }

    .menu-principal__menu-hamburger {
      width: 5rem;
      height: 5rem;
      cursor: pointer;
      border: none;
      background: transparent url(../img/simbolos__menu-hamburger-off.svg) no-repeat center / cover;
      background-size: 80%;
      transition: var(--transition__padrao);
    }

      .menu-principal__menu-hamburger:focus-within {
        background: var(--cor__amarelo-escuro) url(../img/simbolos__menu-hamburger-on.svg) no-repeat center / cover;
        background-size: 80%;
      }

      .menu-principal__menu-hamburger:focus-within>.menu-hamburger__submenu {
        display: initial;
      }
    
    .menu-principal__link-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }

      .link-logo__imagem {
        display: block;
        width: 100%;
      }
      
    .menu-principal__navegacao {
      width: 5rem;
      height: 5rem;
    }

@media screen and (min-width: 428px) {
  .menu-principal__menu-hamburger,
  .menu-principal__link-logo,
  .menu-principal__navegacao {
    width: 5.5rem;
    height: 5.5rem;
  }
}

@media screen and (min-width: 768px) {
  .menu-principal__menu-hamburger,
  .menu-principal__link-logo,
  .menu-principal__navegacao {
    width: 6rem;
    height: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .menu-principal__menu-hamburger,
  .menu-principal__link-logo,
  .menu-principal__navegacao {
    width: 6.5rem;
    height: 6.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .menu-principal__menu-hamburger,
  .menu-principal__link-logo,
  .menu-principal__navegacao {
    width: 7rem;
    height: 7rem;
  }
}

@media screen and (min-width: 1920px) {
  .menu-principal__menu-hamburger,
  .menu-principal__link-logo,
  .menu-principal__navegacao {
    width: 7.5rem;
    height: 7.5rem;
  }
}