.rodape {
  margin: 0rem;
  background-color: var(--cor__fundo-rodape);
  font-size: 1.6rem;
  color: #fff;
}

  .rodape__midias-sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0rem;
    border-bottom: .1rem solid #fff;
    margin-bottom: 2rem;
    }

    .midias-sociais__logo {
      min-width: 50px;
      min-height: 50px;
      width: 5rem;
      height: 5rem;
    }

      .logo__imagem {
        width: 100%;
        height: 100%;
      }
  
  .rodape__texto {
    width: 100%;
    font-weight: 900;
    line-height: 2rem;
    padding: 0rem 1rem 2rem 1rem;
    margin: auto;
    box-sizing: border-box;
  }
  
@media screen and (min-width: 428px) {
  .rodape {
    font-size: 2rem;
  }
  
    .rodape__midias-sociais {
      padding: 2rem 0rem;
      border-bottom: .1rem solid #fff;
      margin-bottom: 2rem;
    }
  
      .midias-sociais__logo {
        width: 6rem;
        height: 6rem;
      }
  
    .rodape__texto {
      padding: 0rem 2rem 2rem 2rem;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1920px) {

}