.conteudo {

}
  
  .conteudo__banner {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: url(../../img/banner.png) center;
    min-height: 25vh;
  }
  
    .banner__titulo {
      color: #fff;
      font-weight: 900;
      text-align: center;
      margin: 0px;
    }
    
  .conteudo__introducao-home {
    padding: 1rem;
  }
  
    .secao__titulo {
      width: 80%;
      color: var(--cor__verde-padrao);
      font-size: 1.8rem;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      padding: .5rem 0rem 1rem 0rem;
      border-bottom: .1rem solid var(--cor__verde-padrao);
      margin: auto;
    }
    .introducao-home__descricao {
      font-size: 1.6rem;
      font-style: italic;
      line-height: 2rem;
      color: var(--cor__verde-profundo);
      margin: 2rem 0rem 0rem 0rem;
    }

  .conteudo__produtos-home {
    padding: 1rem;
  }

    .produtos-home__titulo {
      color: var(--cor__verde-padrao);
      font-size: 1.8rem;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      padding: .5rem 0rem 1rem 0rem;
      border-bottom: .1rem solid var(--cor__verde-padrao);
      margin: 0rem;

    }

    .produtos-home__categoria-produtos {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-height: 5rem;
      height: 7rem;
      margin: 1rem 0rem;
    }

      .categorias-produtos__grupo-pao-de-queijo {
        display: block;
        width: 100%;
        height: 100%;
        background: url(../../img/produtos__grupo--pao-de-queijo.png) center;
        border-radius: 1rem;
      }
      .categorias-produtos__grupo-salgado {
        display: block;
        width: 100%;
        height: 100%;
        background: url(../../img/produtos__grupo--salgados.png) center;
        border-radius: 1rem;
      }
      .categorias-produtos__grupo-doces {
        display: block;
        width: 100%;
        height: 100%;
        background: url(../../img/produtos__grupo--doces.png) center;
        border-radius: 1rem;
      }

        .ilustracao__grupo-titulo {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          color: #fff;
          font-size: 1.8rem;
          text-align: center;
          text-transform: uppercase;
          margin: 0rem;
        }
    
      .categoria-produtos__menu-botao--paes-de-queijo,
      .categoria-produtos__menu-botao--salgados,
      .categoria-produtos__menu-botao--doces {
        min-width: 50px;
        width: 5rem;
        min-height: 50px;
        height: 5rem;
        margin: .5rem 0rem .5rem 1rem;
        padding: 0rem;
        border: none;
        background-image: url(../../img/simbolos__menu-produtos--direita-off.svg);
        background-color: transparent;
        transition: all, 200ms;
      }

        .categoria-produtos__menu-botao--paes-de-queijo:hover,
        .categoria-produtos__menu-botao--paes-de-queijo:focus-within,
        .categoria-produtos__menu-botao--salgados:hover,
        .categoria-produtos__menu-botao--salgados:focus-within,
        .categoria-produtos__menu-botao--doces:hover,
        .categoria-produtos__menu-botao--doces:focus-within {
          background-image: url(../../img/simbolos__menu-produtos--direita-on.svg);
          transform: rotate(90deg);
        }
          
        .categoria-produtos__menu-botao--paes-de-queijo:hover,
        .categoria-produtos__menu-botao--paes-de-queijo:focus-within {
          
        }

        .categoria-produtos__menu-botao--salgados:hover,
        .categoria-produtos__menu-botao--salgados:focus-within {
          
        }

        .categoria-produtos__menu-botao--doces:hover,
        .categoria-produtos__menu-botao--doces:focus-within {
          
        }

  .conteudo__google-maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

    .google-maps-mapa {
      max-width: 100%;
      margin: 1rem 0rem;
    }