.conteudo__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: url(../../img/banners/banner__home--tamanho1.png) no-repeat center / cover;
  height: 100vw;
  box-sizing: border-box;
}

  .banner__titulo {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 2;
    text-align: center;
    margin: 0px;
  }

@media screen and (min-width: 768px) {
  .conteudo__banner {
    padding: 3rem;
    background: url(../../img/banners/banner__home--tamanho2.png) no-repeat center / cover;
    height: 50vw;
  }

    .banner__titulo {
      font-size: 3.6rem;
    }
}

@media screen and (min-width: 1280px) {
  .conteudo__banner {
    padding: 3rem;
    background: url(../../img/banners/banner__home--tamanho3.png) no-repeat center / cover;
    max-height: 25vw;
  }

    .banner__titulo {
      font-size: 4.8rem;
    }
}