.conteudo__produtos-home {
  padding: 1rem 0rem 2rem 0rem;
}

  .produtos-home__categoria--pao-de-queijo,
  .produtos-home__categoria--salgados,
  .produtos-home__categoria--doces {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0rem;
  }

    .produtos-home__categoria--pao-de-queijo:focus-within>.categoria__lista--pao-de-queijo,
    .produtos-home__categoria--salgados:focus-within>.categoria__lista--salgados,
    .produtos-home__categoria--doces:focus-within>.categoria__lista--doces {
      display: flex;
    }

    .categoria__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      margin-top: 1rem;
    }

    .categoria__lista--pao-de-queijo,
    .categoria__lista--salgados,
    .categoria__lista--doces {
      display: none;
      flex-direction: column;
      width: 85%;
    }

      .lista__produtos-disponiveis {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
      }

        .produtos-disponiveis__imagem {
          display: inline-block;
          width: 8rem;
          height: 8rem;
        }

        .produtos-disponiveis__link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 55%;
          color: var(--cor__verde-padrao);
          font-size: 1.4rem;
          font-weight: 900;
          text-transform: uppercase;
          border: .2rem solid var(--cor__verde-profundo);
          border-radius: 2rem;
          box-sizing: border-box;
        }

          .produtos-disponiveis__link:hover {
            color: #fff;
            background-color: var(--cor__amarelo-profundo);
            border-color: var(--cor__amarelo-escuro);
          }

    .categorias-produtos__grupo-pao-de-queijo,
    .categorias-produtos__grupo-salgado,
    .categorias-produtos__grupo-doces {
      display: block;
      width: 100%;
      height: 25vw;
      border-radius: 1rem;
    }

    .categorias-produtos__grupo-pao-de-queijo {
      background: url(../../img/banners/banner__pao-de-queijo--tamanho1.png) no-repeat center / cover;
    }
    .categorias-produtos__grupo-salgado {
      background: url(../../img/banners/banner__salgados--tamanho1.png) no-repeat center / cover;
    }
    .categorias-produtos__grupo-doces {
      background: url(../../img/banners/banner__doces--tamanho1.png) no-repeat center / cover;
    }

      .ilustracao__grupo-titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
        font-size: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        margin: 0rem;
      }
  
      .categoria-produtos__menu-botao--paes-de-queijo,
      .categoria-produtos__menu-botao--salgados,
      .categoria-produtos__menu-botao--doces {
        width: 5rem;
        height: 5rem;
        margin-left: 0rem;
        padding: 0rem;
        border: none;
        background: transparent url(../../img/simbolos__menu-produtos--direita-off.svg) no-repeat center / cover;
        background-size: 4rem;
        cursor: pointer;
        transition: all, 100ms;
        box-sizing: border-box;
      }

      .categoria-produtos__menu-botao--paes-de-queijo:focus-within,
      .categoria-produtos__menu-botao--salgados:focus-within,
      .categoria-produtos__menu-botao--doces:focus-within {
        background: transparent url(../../img/simbolos__menu-produtos--baixo-on.svg) no-repeat center / cover;
        background-size: 4rem;
      }
      
@media screen and (min-width: 428px) {
  .conteudo__produtos-home {
    padding: 1rem 0rem 3rem 0rem;
  }

  .categoria__container {
    width: 90%;
    margin-top: 2rem;
  }

  .ilustracao__grupo-titulo {
    font-size: 2.1rem;
  }

  .categorias-produtos__grupo-pao-de-queijo {
    background: url(../../img/banners/banner__pao-de-queijo--tamanho2.png) no-repeat center / cover;
  }
  .categorias-produtos__grupo-salgado {
    background: url(../../img/banners/banner__salgados--tamanho2.png) no-repeat center / cover;
  }
  .categorias-produtos__grupo-doces {
    background: url(../../img/banners/banner__doces--tamanho2.png) no-repeat center / cover;
  }

  .categoria-produtos__menu-botao--paes-de-queijo,
  .categoria-produtos__menu-botao--salgados,
  .categoria-produtos__menu-botao--doces {
    min-width: 5.5rem;
    min-height: 5.5rem;
    margin-left: 2rem;
    background-size: 4.5rem;
  }

  .categoria-produtos__menu-botao--paes-de-queijo:focus-within,
  .categoria-produtos__menu-botao--salgados:focus-within,
  .categoria-produtos__menu-botao--doces:focus-within {
    background-size: 4.5rem;
  }

  .lista__produtos-disponiveis {
    margin-top: 2rem;
  }

    .produtos-disponiveis__imagem {
      width: 10rem;
      height: 10rem;
    }

    .produtos-disponiveis__link {
      height: 7rem;
      font-size: 1.7rem;
    }
}

@media screen and (min-width: 768px) {
  .conteudo__produtos-home {
    padding: 1rem 0rem 4rem 0rem;
  }

  .categoria__container {
    width: 90%;
    margin-top: 3rem;
  }

    .categoria__lista--pao-de-queijo,
    .categoria__lista--salgados,
    .categoria__lista--doces {
      display: none;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 90%;
    }

  .ilustracao__grupo-titulo {
    font-size: 2.4rem;
  }

  .categorias-produtos__grupo-pao-de-queijo {
    background: url(../../img/banners/banner__pao-de-queijo--tamanho3.png) no-repeat center / cover;
  }
  .categorias-produtos__grupo-salgado {
    background: url(../../img/banners/banner__salgados--tamanho3.png) no-repeat center / cover;
  }
  .categorias-produtos__grupo-doces {
    background: url(../../img/banners/banner__doces--tamanho3.png) no-repeat center / cover;
  }

  .categoria-produtos__menu-botao--paes-de-queijo,
  .categoria-produtos__menu-botao--salgados,
  .categoria-produtos__menu-botao--doces {
    min-width: 6rem;
    min-height: 6rem;
    margin-left: 3rem;
    background-size: 5rem;
  }

  .categoria-produtos__menu-botao--paes-de-queijo:focus-within,
  .categoria-produtos__menu-botao--salgados:focus-within,
  .categoria-produtos__menu-botao--doces:focus-within {
    background-size: 5rem;
  }

  .lista__produtos-disponiveis {
    margin-top: 3rem;
    width: 45%;
  }

    .produtos-disponiveis__imagem {
      width: 12rem;
      height: 12rem;
    }

    .produtos-disponiveis__link {
      height: 9rem;
      font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
  .conteudo__produtos-home {
    padding: 1rem 0rem 5rem 0rem;
  }

  .categoria__container {
    width: 90%;
    margin-top: 4rem;
  }

  .ilustracao__grupo-titulo {
    font-size: 2.7rem;
  }

  .categorias-produtos__grupo-pao-de-queijo {
    background: url(../../img/banners/banner__pao-de-queijo--tamanho4.png) no-repeat center / cover;
  }
  .categorias-produtos__grupo-salgado {
    background: url(../../img/banners/banner__salgados--tamanho4.png) no-repeat center / cover;
  }
  .categorias-produtos__grupo-doces {
    background: url(../../img/banners/banner__doces--tamanho4.png) no-repeat center / cover;
  }

  .categoria-produtos__menu-botao--paes-de-queijo,
  .categoria-produtos__menu-botao--salgados,
  .categoria-produtos__menu-botao--doces {
    min-width: 6.5rem;
    min-height: 6.5rem;
    margin-left: 4rem;
    background-size: 5.5rem;
  }

  .categoria-produtos__menu-botao--paes-de-queijo:focus-within,
  .categoria-produtos__menu-botao--salgados:focus-within,
  .categoria-produtos__menu-botao--doces:focus-within {
    background-size: 5.5rem;
  }

  .lista__produtos-disponiveis {
    margin-top: 4rem;
  }

    .produtos-disponiveis__imagem {
      width: 14rem;
      height: 14rem;
    }

    .produtos-disponiveis__link {
      height: 11rem;
      font-size: 2.3rem;
    }
}

@media screen and (min-width: 1280px) {
  .conteudo__produtos-home {
    padding: 1rem 0rem 6rem 0rem;
  }

  .categoria__container {
    width: 90%;
    margin-top: 5rem;
  }

  .ilustracao__grupo-titulo {
    font-size: 3rem;
  }

  .categorias-produtos__grupo-pao-de-queijo {
    background: url(../../img/banners/banner__pao-de-queijo--tamanho5.png) no-repeat center / cover;
  }
  .categorias-produtos__grupo-salgado {
    background: url(../../img/banners/banner__salgados--tamanho5.png) no-repeat center / cover;
  }
  .categorias-produtos__grupo-doces {
    background: url(../../img/banners/banner__doces--tamanho5.png) no-repeat center / cover;
  }

  .categoria-produtos__menu-botao--paes-de-queijo,
  .categoria-produtos__menu-botao--salgados,
  .categoria-produtos__menu-botao--doces {
    min-width: 7rem;
    min-height: 7rem;
    margin-left: 5rem;
    background-size: 6rem;
  }

  .categoria-produtos__menu-botao--paes-de-queijo:focus-within,
  .categoria-produtos__menu-botao--salgados:focus-within,
  .categoria-produtos__menu-botao--doces:focus-within {
    background-size: 6rem;
  }

  .lista__produtos-disponiveis {
    margin-top: 5rem;
  }

    .produtos-disponiveis__imagem {
      width: 16rem;
      height: 16rem;
    }

    .produtos-disponiveis__link {
      height: 13rem;
      font-size: 2.6rem;
    }
}

@media screen and (min-width: 1920px) {
  .conteudo__produtos-home {
    padding: 1rem 0rem 7rem 0rem;
  }

  .categoria__container {
    width: 90%;
    margin-top: 6rem;
  }

  .ilustracao__grupo-titulo {
    font-size: 3.3rem;
  }

  .categorias-produtos__grupo-pao-de-queijo {
    background: url(../../img/banners/banner__pao-de-queijo--tamanho6.png) no-repeat center / cover;
  }
  .categorias-produtos__grupo-salgado {
    background: url(../../img/banners/banner__salgados--tamanho6.png) no-repeat center / cover;
  }
  .categorias-produtos__grupo-doces {
    background: url(../../img/banners/banner__doces--tamanho6.png) no-repeat center / cover;
  }

  .categoria-produtos__menu-botao--paes-de-queijo,
  .categoria-produtos__menu-botao--salgados,
  .categoria-produtos__menu-botao--doces {
    min-width: 7.5rem;
    min-height: 7.5rem;
    margin-left: 6rem;
    background-size: 6.5rem;
  }

  .categoria-produtos__menu-botao--paes-de-queijo:focus-within,
  .categoria-produtos__menu-botao--salgados:focus-within,
  .categoria-produtos__menu-botao--doces:focus-within {
    background-size: 6.5rem;
  }

  .lista__produtos-disponiveis {
    margin-top: 6rem;
  }

    .produtos-disponiveis__imagem {
      width: 18rem;
      height: 18rem;
    }

    .produtos-disponiveis__link {
      height: 15rem;
      font-size: 2.9rem;
    }
}