.conteudo__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: url(../../img/banner.png) no-repeat center / cover;
  height: 25vh;
}

  .banner__titulo {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 3rem;
    text-align: center;
    margin: 0px;
  }

@media screen and (min-width: 428px) {
  .conteudo__banner {
    padding: 2rem;
    height: 30vh;
  }

    .banner__titulo {
      font-size: 2.7rem;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1920px) {

}