.conteudo__google-maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .google-maps-mapa {
    width: 95vw;
    height: 95vw;
    margin: 1rem 1rem 2rem 1rem;
    box-sizing: border-box;
  }

@media screen and (min-width: 428px) {
  .google-maps-mapa {
    width: 85vw;
    height: 85vw;
    margin: 2rem 2rem 3rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .google-maps-mapa {
    width: 75vw;
    height: 75vw;
    margin: 3rem 3rem 4rem 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .google-maps-mapa {
    width: 65vw;
    height: 65vw;
    margin: 4rem 4rem 5rem 4rem;
  }
}

@media screen and (min-width: 1280px) {
  .google-maps-mapa {
    width: 55vw;
    height: 55vw;
    margin: 5rem 5rem 6rem 5rem;
  }
}

@media screen and (min-width: 1920px) {
  .google-maps-mapa {
    width: 50vw;
    height: 50vw;
    margin: 6rem 6rem 7rem 6rem;
  }
}