.conteudo__introducao-home {
  padding: 2rem 1rem 0rem 1rem;
}

  .secao__titulo {
    width: 85vw;
    color: var(--cor__verde-padrao);
    font-size: 2.4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem 0rem 1.5rem 0rem;
    border-bottom: .1rem solid var(--cor__verde-padrao);
    margin: 0rem auto 1rem auto;
    box-sizing: border-box;
  }

  .introducao-home__descricao {
    font-size: 1.8rem;
    font-style: italic;
    line-height: 2rem;
    color: var(--cor__verde-profundo);
    margin: 2rem 0rem 1rem 0rem;
  }
  
@media screen and (min-width: 428px) {
  .conteudo__introducao-home {
    padding: 2rem 2rem 0rem 2rem;
  }
  
    .secao__titulo {
      width: 65vw;
      font-size: 2.7rem;
    }
  
    .introducao-home__descricao {
      font-size: 2.1rem;
      margin: 3rem 1rem 2rem 1rem;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1920px) {

}