.conteudo__produtos {
  padding: 0rem;
  color: #fff;
}

  .produtos__titulo--baldes,
  .produtos__titulo--pacotes,
  .produtos__titulo--croissants,
  .produtos__titulo--esfihas,
  .produtos__titulo--folhados,
  .produtos__titulo--hamburgoes,
  .produtos__titulo--paes-de-batata,
  .produtos__titulo--tortinhas,
  .produtos__titulo--tortas-geladas {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    padding: 1rem;
    background: url(../../img/banners/banner__home--tamanho1.png) no-repeat center / cover;
    height: 100vw;
    width: 100%;
    margin: 0rem 0rem 2rem 0rem;
    box-sizing: border-box;
    text-transform: uppercase;
  }

    .produtos__titulo--baldes {
      background: url(../../img/banners/banner__produtos-baldes--tamanho1.png) no-repeat center / cover;
    }
    
    .produtos__titulo--pacotes {
      background: url(../../img/banners/banner__produtos-pacotes--tamanho1.png) no-repeat center / cover;
    }
    
    .produtos__titulo--croissants {
      background: url(../../img/banners/banner__produtos-croissants--tamanho1.png) no-repeat left 20% / cover;
    }
    
    .produtos__titulo--esfihas {
      background: url(../../img/banners/banner__produtos-esfihas--tamanho1.png) no-repeat center / cover;
    }
    
    .produtos__titulo--folhados {
      background: url(../../img/banners/banner__produtos-folhados--tamanho1.png) no-repeat left 60% / cover;
    }
    
    .produtos__titulo--hamburgoes {
      background: url(../../img/banners/banner__produtos-hamburgoes--tamanho1.png) no-repeat left 77.5% / cover;
    }
    
    .produtos__titulo--paes-de-batata {
      background: url(../../img/banners/banner__produtos-paes-de-batata--tamanho1.png) no-repeat center / cover;
    }
    
    .produtos__titulo--tortinhas {
      background: url(../../img/banners/banner__produtos-tortinhas--tamanho1.png) no-repeat center / cover;
    }
    
    .produtos__titulo--tortas-geladas {
      background: url(../../img/banners/banner__produtos-tortas-geladas--tamanho1.png) no-repeat center / cover;
    }
  
  .produtos__cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    margin: 0rem 1rem 2rem 1rem;
    background-color: #fff;
    box-shadow: var(--box-shadow__equilatero);
    box-sizing: border-box;
  }

    .cartao__imagem {
      width: 100%;
    }

    .cartao__texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
      
      .texto__titulo {
        color: var(--cor__verde-padrao);
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        margin: 2rem 0rem;
      }

      .texto__descricao {
        display: block;
        min-height: 4.5em;
        font-style: italic;
        line-height: 1.5;
        padding: 0rem 1em;
      }

      .texto__descricao,
      .info__peso,
      .info__unidades {
        margin: 0rem 0rem 2rem 0rem;
        color: var(--cor__verde-padrao);
        font-size: 1.6rem;
        font-weight: 500;
      }

      .texto__info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

        .info__peso,
        .info__unidades {
          padding: 0rem .5rem;
          font-weight: 900;
          text-transform: uppercase;
          text-align: center;
        }
   
@media screen and (min-width: 768px) {
  .conteudo__produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

    .produtos__titulo--baldes,
    .produtos__titulo--pacotes,
    .produtos__titulo--croissants,
    .produtos__titulo--esfihas,
    .produtos__titulo--folhados,
    .produtos__titulo--hamburgoes,
    .produtos__titulo--paes-de-batata,
    .produtos__titulo--tortinhas,
    .produtos__titulo--tortas-geladas {
      font-size: 2.8rem;
      padding: 2rem;
      margin: 0rem 0rem 3rem 0rem;
      height: 40vw;
    }

      .produtos__titulo--baldes {
        background-image: url(../../img/banners/banner__produtos-baldes--tamanho3.png);
      }    
      .produtos__titulo--pacotes {
        background-image: url(../../img/banners/banner__produtos-pacotes--tamanho3.png);
      }    
      .produtos__titulo--croissants {
        background-image: url(../../img/banners/banner__produtos-croissants--tamanho3.png);
      }    
      .produtos__titulo--esfihas {
        background-image: url(../../img/banners/banner__produtos-esfihas--tamanho3.png);
      }    
      .produtos__titulo--folhados {
        background-image: url(../../img/banners/banner__produtos-folhados--tamanho3.png);
      }    
      .produtos__titulo--hamburgoes {
        background-image: url(../../img/banners/banner__produtos-hamburgoes--tamanho3.png);
      }    
      .produtos__titulo--paes-de-batata {
        background-image: url(../../img/banners/banner__produtos-paes-de-batata--tamanho3.png);
      }    
      .produtos__titulo--tortinhas {
        background-image: url(../../img/banners/banner__produtos-tortinhas--tamanho3.png);
      }    
      .produtos__titulo--tortas-geladas {
        background-image: url(../../img/banners/banner__produtos-tortas-geladas--tamanho3.png);
      }
    
    .produtos__cartao {
      flex-direction: row;
      width: 85%;
      margin: 0rem auto 3rem auto;
    }

      .cartao__imagem {
        width: 50%;
      }

      .cartao__texto {
        width: 50%;
      }

      .texto__titulo {
        font-size: 2.4rem;
        margin: 2.5rem 0rem;
      }

      .texto__descricao,
      .info__peso,
      .info__unidades {
        margin: 0rem 0rem 2.5rem 0rem;
        font-size: 1.8rem;
      }

        .info__peso,
        .info__unidades {
          padding: 0rem 1rem;
        }
}

@media screen and (min-width: 1280px) {
  .conteudo__produtos {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .produtos__titulo--baldes,
  .produtos__titulo--pacotes,
  .produtos__titulo--croissants,
  .produtos__titulo--esfihas,
  .produtos__titulo--folhados,
  .produtos__titulo--hamburgoes,
  .produtos__titulo--paes-de-batata,
  .produtos__titulo--tortinhas,
  .produtos__titulo--tortas-geladas {
    font-size: 3.2rem;
    padding: 3rem;
    margin: 0rem 0rem 4rem 0rem;
    height: 30vw;
  }
  
    .produtos__titulo--baldes {
      background-image: url(../../img/banners/banner__produtos-baldes--tamanho5.png);
    }    
    .produtos__titulo--pacotes {
      background-image: url(../../img/banners/banner__produtos-pacotes--tamanho5.png);
    }    
    .produtos__titulo--croissants {
      background-image: url(../../img/banners/banner__produtos-croissants--tamanho5.png);
    }    
    .produtos__titulo--esfihas {
      background-image: url(../../img/banners/banner__produtos-esfihas--tamanho5.png);
    }    
    .produtos__titulo--folhados {
      background-image: url(../../img/banners/banner__produtos-folhados--tamanho5.png);
    }    
    .produtos__titulo--hamburgoes {
      background-image: url(../../img/banners/banner__produtos-hamburgoes--tamanho5.png);
    }    
    .produtos__titulo--paes-de-batata {
      background-image: url(../../img/banners/banner__produtos-paes-de-batata--tamanho5.png);
    }    
    .produtos__titulo--tortinhas {
      background-image: url(../../img/banners/banner__produtos-tortinhas--tamanho5.png);
    }    
    .produtos__titulo--tortas-geladas {
      background-image: url(../../img/banners/banner__produtos-tortas-geladas--tamanho5.png);
    }

  .produtos__cartao {
    width: 42.5%;
    margin: 0rem 0rem 4rem 0rem;
  }

    .texto__titulo {
      font-size: 2rem;
      margin: 3rem 0rem;
    }

    .texto__descricao,
    .info__peso,
    .info__unidades {
      margin: 0rem 0rem 3rem 0rem;
      font-size: 2rem;
    }

      .info__peso,
      .info__unidades {
        padding: 0rem 2rem;
      }
}